@import '../../styles/layout';

want-food{
  .angular-google-map-container{
    height: ~'calc(100vh - 141px)';
  }

  map-header, result-list-header{
    display: block;
    overflow: auto;
    border-bottom: solid 1px #ccc;
    padding: 10px;
    height: 62px;
    background: #f5f5f5;
  }

  map-header{
    padding: 18px;
  }

  result-list-header{
    position: relative;
    display:block;

    i{
      position: absolute;
      right: 18px;
      top: 20px;
    }
    input{
      width: 100%;
      padding: 5px 7px;
    }
  }

  map-panel{
    display: inline-block;
    overflow: auto;
    float: left;
    height: ~'calc(100vh - 79px)';
    width: ~'calc(100% - 250px)';

    map{

    }
  }
  result-list{
    display: inline-block;
    border-left: solid 1px #ccc;
    float: right;
    overflow: auto;
    height: ~'calc(100vh - 79px)';
    width: 250px;

    result-item{
      .block;
      padding: 7px;
      margin: 5px;
      border-bottom: solid 1px #ccc;
      border-radius: 4px;
      cursor: pointer;

      &.selected{
        background: #3e3a3c;
        color: white;
        transition: .25s;
      }

      food-offer{
        .block;

        select, textarea{
          width: 100%;
          margin-top: 5px;
        }
      }

      small{
        color: #aaa;
      }
    }
  }
}