<i class="col-lg-3 hidden-md-down"></i>
<div class="col-lg-6">
    <heading>Welcome to ShareStand!</heading>

    <div class="welcome text-xs-left">
        Before we begin, we need to create an account for you.  Use the button below to link your google account to your ShareStand account.  Once you're all set up, we'll get
        some basic information from you and then you can start listing the wonderful food you have available.
    </div>

    <img ng-click="loginController.doLogin()" src="app/users/components/login/img/sign-in-with-google.png">
</div>